module.exports = {
    'saltPrefix': '<prefix>',
    'saltSuffix': '<suffix>',
    'tokenSecret': '<secret>',
    'database': 'mongodb://<username>:<password>@<host>:<port>/<database>',
    'apiKey': '<key>'
};